about-time==4.2.1
aiofiles==24.1.0
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
akracer==0.0.13
akshare==1.13.73
alive-progress==3.1.5
altair==5.5.0
altgraph==0.17.4
annotated-types==0.6.0
anyio==4.3.0
appdirs==1.4.4
async-timeout==4.0.3
attrs==23.1.0
Automat==24.8.1
beautifulsoup4==4.12.2
blinker==1.7.0
cachetools==5.3.3
certifi==2023.11.17
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
comtypes==1.4.2
constantly==23.10.4
contourpy==1.2.0
cryptography==41.0.7
cssselect==1.2.0
cycler==0.12.1
decorator==4.4.2
defusedxml==0.7.1
Deprecated==1.2.14
distro==1.9.0
et-xmlfile==1.1.0
exceptiongroup==1.2.0
Faker==25.2.0
fastapi==0.115.4
filelock==3.16.1
fire==0.5.0
Flask==3.0.0
fonttools==4.47.0
fpdf==1.7.2
frozenlist==1.4.1
gitdb==4.0.12
GitPython==3.1.44
grapheme==0.6.0
greenlet==3.0.1
h11==0.14.0
html5lib==1.1
httpcore==1.0.5
httpx==0.27.0
hyperlink==21.0.0
icon-font-to-png==0.4.1
idna==3.6
imageio==2.34.1
imageio-ffmpeg==0.4.9
importlib_metadata==8.5.0
incremental==24.7.2
itemadapter==0.9.0
itemloaders==1.3.2
itsdangerous==2.1.2
jieba==0.42.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.4.2
jsonpath==0.82.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kiwisolver==1.4.5
libretranslatepy==2.1.1
lxml==4.9.3
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.8.2
mdurl==0.1.2
moviepy==1.0.3
multidict==6.1.0
narwhals==1.23.0
numpy==1.26.2
openai==1.29.0
opencv-python==4.9.0.80
opencv-python-headless==4.9.0.80
openpyxl==3.1.2
outcome==1.3.0.post0
packaging==23.2
palettable==3.3.3
pandas==2.2.2
parsel==1.9.1
pdf2docx==0.5.8
pefile==2023.2.7
pikepdf==8.15.1
Pillow==10.1.0
playwright==1.40.0
poai==0.0.11
pocode==0.0.3
poemail==0.0.3
poexcel==0.0.22
pofile==0.1.3
poimage==0.0.22
poocr==0.1.8
popdf==0.1.2
poppt==0.1.1
poprogress==0.0.2
porobot==0.0.3
povideo==0.0.7
poword==0.0.16
prettytable==3.12.0
proglog==0.1.10
Protego==0.3.1
protobuf==5.29.3
psutil==5.9.8
py-mini-racer==0.6.0
pyarrow==19.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycharts==0.1.5
pycparser==2.21
pycryptodome==3.21.0
pydantic==2.7.1
pydantic_core==2.18.2
pydeck==0.9.1
PyDispatcher==2.0.7
pyecharts==2.0.8
pyee==8.2.2
PyEmail==0.0.1
PyExecJS2==1.6.1
Pygments==2.18.0
pyinstaller==6.6.0
pyinstaller-hooks-contrib==2024.4
PyJWT==2.8.0
PyMuPDF==1.24.3
PyMuPDFb==1.24.3
PyMySQL==1.1.1
PyOfficeRobot==0.1.20
pyOpenSSL==23.3.0
pyparsing==3.1.1
PyPDF2==3.0.1
pypiwin32==223
pypng==0.20220715.0
pyppeteer==1.0.2
PySide6==6.7.0
PySide6_Addons==6.7.0
PySide6_Essentials==6.7.0
PySocks==1.7.1
python-dateutil==2.8.2
python-docx==1.1.2
python-office==0.4.23
python-pptx==0.6.23
pyttsx3==2.90
pytz==2024.1
pywifi==1.1.12
pywin32==306
pywin32-ctypes==0.2.2
pywinauto==0.6.8
qrcode==7.4.2
queuelib==1.7.0
referencing==0.36.1
reportlab==4.2.0
requests==2.31.0
requests-file==2.1.0
rich==13.7.1
rpds-py==0.22.3
schedule==1.2.1
scikit-learn==1.5.2
scipy==1.14.1
Scrapy==2.11.2
seaborn==0.13.2
search4file==0.1.15
selenium==4.1.1
service-identity==24.2.0
shiboken6==6.7.0
simplejson==3.19.3
six==1.16.0
smmap==5.0.2
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
speedtest-cli==2.1.3
starlette==0.41.2
streamlit==1.41.1
streamlit-echarts==0.4.0
stylecloud==0.5.2
tabulate==0.9.0
tenacity==9.0.0
tencentcloud-sdk-python==3.0.1145
termcolor==2.4.0
threadpoolctl==3.5.0
tinycss==0.4
tldextract==5.1.3
toml==0.10.2
tomli==2.1.0
tornado==6.4.2
tqdm==4.66.4
translate==3.6.1
trio==0.23.1
trio-websocket==0.11.1
Twisted==24.10.0
typing_extensions==4.11.0
tzdata==2024.1
uiautomation==2.0.18
urllib3==1.26.18
urllib3-secure-extra==0.1.0
uvicorn==0.32.0
w3lib==2.2.1
watchdog==6.0.0
wcwidth==0.2.13
webencodings==0.5.1
websockets==10.4
Werkzeug==3.0.1
wftools==0.0.9
wordcloud==1.9.3
wrapt==1.16.0
wsproto==1.2.0
xlrd==1.2.0
XlsxWriter==3.2.0
xlwings==0.30.12
xlwt==1.3.0
yarl==1.11.1
you-get==0.4.1650
zhipuai==2.0.1.20240429
zipp==3.20.2
zope.interface==7.1.1
